   <ul class="nav navbar-nav navbar-right" >

     <li class="dropdown menu-merge">
       <div class="navbar-btn btn-group">
         <button class="btn btn-sm dropdown-toggle">
           <span class="fa fa-share fs14 va-m"> 分享</span>
         </button>
       </div>
     </li>

     <li class="dropdown menu-merge">
       <div class="navbar-btn btn-group">
         <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
           <span class="fa fa-shopping-cart fs16 va-m"></span>
         </button>
       </div>
     </li>

     <li class="dropdown menu-merge">
      <div class="navbar-btn btn-group">
        <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
          <span class="fa fa-comments fs14 va-m"></span>
          <span class="badge badge-danger">9</span>
        </button>
        <div class="dropdown-menu dropdown-persist w350 animated animated-shorter fadeIn" role="menu">
          <div class="panel mbn">
            <div class="panel-menu">
              <span class="panel-icon"><i class="fa fa-clock-o"></i></span>
              <span class="panel-title fw300"> 读者新评论</span>
              <button class="btn btn-default light btn-xs pull-right" type="button"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="panel-body panel-scroller scroller-navbar scroller-overlay scroller-pn pn">
              <ol class="timeline-list">
                <li class="timeline-item">
                  <div class="timeline-icon bg-dark light">
                    <span class="fa fa-tags"></span>
                  </div>
                  <div class="timeline-desc">
                    <b>Michael</b> Added to his store:
                    <a href="#">Ipod</a>
                  </div>
                  <div class="timeline-date">1:25am</div>
                </li>
                <li class="timeline-item">
                  <div class="timeline-icon bg-dark light">
                    <span class="fa fa-tags"></span>
                  </div>
                  <div class="timeline-desc">
                    <b>Sara</b> Added his store:
                    <a href="#">Notebook</a>
                  </div>
                  <div class="timeline-date">3:05am</div>
                </li>
                <li class="timeline-item">
                  <div class="timeline-icon bg-success">
                    <span class="fa fa-usd"></span>
                  </div>
                  <div class="timeline-desc">
                    <b>Admin</b> created invoice for:
                    <a href="#">Software</a>
                  </div>
                  <div class="timeline-date">4:15am</div>
                </li>
                <li class="timeline-item">
                  <div class="timeline-icon bg-success">
                    <span class="fa fa-usd"></span>
                  </div>
                  <div class="timeline-desc">
                    <b>Admin</b> created invoice for:
                    <a href="#">Apple</a>
                  </div>
                  <div class="timeline-date">7:45am</div>
                </li>
              </ol>

            </div>
            <div class="panel-footer text-center p7">
              <a href="#" class="link-unstyled"> View All </a>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="menu-divider hidden-xs">
      <i class="fa fa-circle"></i>
    </li>

    <li class="dropdown menu-merge">
      <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
        <img src="assets/img/avatars/1.jpg" alt="avatar" class="mw30 br64">
        <span class="hidden-xs pl15"> Michael .R </span>
        <span class="caret caret-tp hidden-xs"></span>
      </a>
      <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
        <!--<li class="dropdown-header clearfix"> </li>-->
        <li class="list-group-item">
          <a href="#" class="animated animated-short fadeInUp">
            <span class="fa fa-envelope"></span> 私息
            <span class="label label-warning">2</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="animated animated-short fadeInUp">
            <span class="fa fa-user"></span> 朋友
            <span class="label label-warning">6</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="animated animated-short fadeInUp">
            <span class="fa fa-bell"></span> 系统消息 </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="animated animated-short fadeInUp">
            <span class="fa fa-gear"></span> 账号设置 </a>
        </li>
        <li class="dropdown-footer">
          <a href="/" ng-click="account.logout()" class="">
            <span class="fa fa-power-off pr5"></span>退 出</a>
        </li>
      </ul>
    </li>
  </ul>
