.book-panel-small {
  float: left;
  margin: 20px;
  width: 240px;
  height: 182px;
  background-color: ghostwhite;
}

.book-body-small {
  width: 240px;
  height: 140px;
  background-color:transparent;
}

.book-footer-small{
  left: 10px;
  height: 30px;
}

.book-panel-small:hover {
  border: 2px solid;
  border-color: #954121;
  background-color: #ff6e11;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
  cursor: pointer; cursor: hand;
}

.book-preview-panel {
  position: relative;
  z-index: 99999;
  background-color: #ff60f5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
  height : 500px;
  width  : 800px;
}
