<!--<div class="page-sheet">-->
 <!--<table style="{margin-left:auto; margin-right:auto;}">-->

   <!--<tr>-->
     <!--<td ng-show="$even">-->
       <!--<div class="page-preview" ng-click="main.previewClick(page,'right')" ng-class="{active:page.active}" >-->
         <!--<img  ng-src="{{page.previewImage}}"  width='80' height="60"   />-->
       <!--</div>-->
     <!--</td>-->
     <!--<td ng-show="$odd">-->
       <!--<div class="page-preview" ng-click="main.previewClick(page,'left')" ng-class="{active:page.active}" >-->
         <!--<img  ng-src="{{page.previewImage}}"  width='80' height="60"  />-->
       <!--</div>-->
     <!--</td>-->
   <!--</tr>-->
   <!--<tr>-->
     <!--<td ng-show="$even"><b>{{page.pageNumber}} </b></td>-->
     <!--<td ng-show="$odd"><b>{{page.pageNumber}} </b></td>-->
   <!--</tr>-->
 <!--</table>-->
<!--</div>-->

<!--<div class="page-sheet">-->

  <!--<table style="{margin-left:auto; margin-right:auto; }">-->
    <!--<tr>-->
      <!--<td><b>{{$index + 1}}</b></td>-->
      <!--<td >-->
        <!--<div class="even-page-preview" ng-click="main.previewClick(page,'left')" ng-class="{active:page.left.active}" >-->
          <!--<img  ng-src="{{page.left.previewImage}}"  width='80' height="60"  />-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="odd-page-preview" ng-click="main.previewClick(page,'right')" ng-class="{active:page.right.active}" >-->
          <!--<img  ng-src="{{page.right.previewImage}}"  width='80' height="60"   />-->
        <!--</div>-->
      <!--</td>-->
      <!--<td><b>{{page.pageNumber}}</b></td>-->
    <!--</tr>-->
  <!--</table>-->

  <!--&lt;!&ndash;<div class="page-preview"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="page-preview"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div>2 / 3</div>&ndash;&gt;-->
<!--</div>-->



<div class="page-sheet">
         <div ng-show="$even" class="even-page-preview" ng-click="main.previewClick(page,'left')" ng-class="{active:page.left.active}" >
          <img  ng-src="{{page.left.previewImage}}"  width='80' height="60"  />
        </div>
        <div ng-show="$odd" class="odd-page-preview" ng-click="main.previewClick(page,'right')" ng-class="{active:page.right.active}" >
            <img  ng-src="{{page.right.previewImage}}"  width='80' height="60"   />
        </div>
</div>

