.DocumentList
{
  overflow-x:scroll;
  overflow-y:hidden;
  height:100px;
  width:100%;
  padding: 0 0px;
  background-color: #becfd5;
}

.DocumentItem
{
  display: inline-block;
  margin-right: 10px;
  padding:0;
  height:80px;
}
.list-inline {
  white-space:nowrap;
  margin-left:20px;
  height:100px;
}


.page-preview-panel {
  float: left;
  width: 100%;
  height: 105px;
  margin: 0px;
  background-color: #becfd5;
}

.page-preview-scroll-panel
{
  overflow-x:scroll;
  overflow-y:hidden;
  height:115px;
  width:98%;
  margin:auto;
  padding: 0 0px;
  border-radius:8px;
  background-color: #ffffff;
}

.page-control-left {
  height: 100px;
  width: 100px;
  background-color: #f9f200;
  text-align: right;
}

.page-control-center {
  overflow-x: scroll;
  width: 101%;
  height: 100px;
  overflow-x:auto;
  background-color: #ffffff;
}

.page-control-right {
  margin: 0px;
  height: 100px;
  width: 100px;
  background-color: #f9f200;
}

.page-sheet {
  float: left;
  left:20px;
  text-align: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right:0px;
  align-content: center;
  height: 100px;
  background-color: #FFFFFF;
}

.page-sheet> .even {
  margin-left: 10px;
}

.page-sheet> .odd {
  margin-right: 10px;
}

.page-preview {
  float: left;
  margin: 1px;
  width: 80px;
  height: 60px;
  border-radius:8px;
  border:3px solid #c9dbe1 ;
  background-color: #FFFFFF;
}

.page-number-left{
  float:left;
  font-size: small;
  font-weight: 700;
  color:#0d3349;
  margin-left:0px;
  margin-right: 0px;
}

.page-number{
  float:left;
  width: 20px;
  font-size: small;
  font-weight: 700;
  color:#0d3349;
  margin-right: 0px;
}

.even-page-preview {
  float: left;
  margin: 0px;
  margin-left: 0px;
  margin-right: -5px;
  width: 80px;
  height: 60px;
  border-radius:8px;
  border:3px solid #c9dbe1 ;
  background-color: #FFFFFF;
  padding: 0px;
}

.odd-page-preview {
  float: left;
  margin: 0px;
  margin-right: 0px;
  width: 80px;
  height: 60px;
  border-radius:8px;
  border:3px solid #c9dbe1 ;
  background-color: #FFFFFF;
}


.cover-preview {
  float: left;
  margin: 2px;
  margin-right:10px;
  margin-left:10px;
  width: 80px;
  height: 60px;
  border-radius:8px;
  border:3px solid #c9dbe1 ;
  background-color: #FFFFFF;
}

.page-control-left, .page-control-right > button {
  background-color: #b4b472;
  width: 90px;
  margin: 5px;
}

.page-design-panel {
  position:relative;
  left: 0px;
  top:10px;
  height: 420px;
  background-color: transparent;
  float:left
}

.page-big {
  position: relative;
  float: left;
  width: 610px;
  height: 400px;
  background-color: #FFFFDF;
  border:solid;
  border-width: 8px;
  border-color: #c9dbe1;
  margin-right: 2px;
}
.active {
  border-color: #F5B025;
}

.page-canvas {
  border-color: transparent;
  /*width: 550px;*/
  /*height: 400px;*/
}

.left_panel {
  height: 100%;
  width:110%;
  overflow-y:auto;
  background-color: #ffffff;
  width:100%;
}
.carton_image {
  float:left;
  width: 70px;
  height: 70px;
  margin-left: 30px;
}

.carton_image:hover{
  background-color: #6eb9ff;
}

.page-nav-panel {
  position:relative;
  top:50px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff0430;
  text-align: center;
}


