.DocumentList
{
  overflow-x:scroll;
  overflow-y:hidden;
  height:90px;
  width:100%;
  padding: 0 0px;
  background-color: #00acee;
}

.DocumentItem
{
  display: inline-block;
  margin-right: 5px;
  margin-top:0px;
  padding:0;
  background-color: transparent;
  height:75px;
}
.list-inline {
  white-space: nowrap;
  margin-left: 20px;
  margin-top:-5px;
  /*height: 90px;*/
  background-color: transparent;
}

.page-preview-panel {
  float: left;
  width: 100%;
  height: 75px;
  margin: 0px;
  /*background-color: #becfd5;*/
  background-color:transparent;
}

.page-preview-scroll-panel
{
  overflow-x:scroll;
  overflow-y:hidden;
  /*height:88px;*/
  width:98%;
  margin:auto;
  padding: 0 0px;
  border-radius:5px;
  background-color: transparent;
}

.page-control-left {
  height: 100px;
  width: 100px;
  background-color: #f9f200;
  text-align: right;
}

.page-control-center {
  overflow-x: scroll;
  width: 101%;
  height: 80px;
  overflow-x:auto;
  background-color: #ffffff;
}

.page-control-right {
  margin: 0px;
  height: 100px;
  width: 100px;
  background-color: #f9f200;
}

.page-sheet {
  float: left;
  left:10px;
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
  margin-right:0px;
  align-content: center;
  /*height: 70px;*/
  background-color: transparent;
}

.page-sheet> .even {
  margin-left: 5px;
}

.page-sheet> .odd {
  margin-right: 0px;
}

.page-preview {
  float: left;
  margin: 1px;
  margin-left:5px;
  width: 80px;
  /*height: 60px;*/
  border-radius:5px;
  border:1px solid #c9dbe1 ;
  background-color: #FFFFFF;
}
.page-preview.active{
  background-color: #F5B025;
}
.page-number-left{
  float:left;
  font-size: small;
  font-weight: 700;
  color:#0d3349;
  margin-left:0px;
  margin-right: 0px;
}

.page-number{
  float:left;
  width: 20px;
  font-size: small;
  font-weight: 400;
  color: #989f8b;
  margin-right: 0px;
}

.even-page-preview {
  float: left;
  margin: 0px;
  margin-left: 0px;
  margin-right: -5px;
  width: 80px;
  height: 60px;
  border-radius:8px;
  border:0px solid #c9dbe1 ;
  background-color: #FFFFFF;
  padding: 0px;
}

.odd-page-preview {
  float: left;
  margin: 0px;
  margin-right: 0px;
  width: 80px;
  height: 60px;
  border-radius:8px;
  border:0px solid #c9dbe1 ;
  background-color: #FFFFFF;
}

/*.cover-preview {*/
  /*float: left;*/
  /*margin: 2px;*/
  /*margin-right:10px;*/
  /*margin-left:10px;*/
  /*width: 80px;*/
  /*height: 60px;*/
  /*border-radius:5px;*/
  /*border:3px solid #c9dbe1 ;*/
  /*background-color: #FFFFFF;*/
  /*/!*background-color: #2f64ff;*!/*/
/*}*/

.cover-image {
  border: 0px solid red;
  width: 70px;
  height: 60px;
  margin: 2px;
}

.book-preview-image {
  max-width: 220px;
  max-height: 160px;
  /*width: 220px;*/
  /*height: 160px;*/
  margin:auto;
  margin-top: 0px;
}

.page-control-left, .page-control-right > button {
  background-color: #b4b472;
  width: 90px;
  margin: 5px;
}

.page-design-panel {
  position:relative;
  margin:auto;
  top:0px;
  height: 420px;
  background-color: transparent;
  /*float:left*/
}

.page-big  {
  position: relative;
  float: left;
  background-color: #FFFFDF;
  border:solid;
  border-width: 8px;
  border-color: #c9dbe1;
  margin-right: 10px;
}

.front-cover-left  {
  position: relative;
  float:left;
  /*margin-left: auto;*/
  /*margin-right:auto;*/
  background-color: white;
  border:solid;
  border-width: 8px;
  border-color: #c9dbe1;
  text-align: center;
  /*align-content: center;*/
  /*vertical-align: middle;*/
}

.color-picker {
}

.title-panel {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  background-color: transparent;
}

.title-panel > span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.author-panel {
  text-align: center;
  margin-top:10px;
  font-size: large;
  font-weight: 700;
  height: 80px;
}

 .author-panel > span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.front-cover-left > img {
  /*pistion:absolute;*/
  /*top:50%;*/
  /*left:50%;*/
  /*margin:100px 0 0 150px;*/
  /*border:1px solid red;*/
  background: white;
  position: relative;
  height:100%;
}

.front-cover-right {
  float:left;
  margin: 20px;
  margin-top:0px;
  height:350px;
  width:450px;
  position: relative;
  float: left;
  background-color: ghostwhite;
  border:solid;
  border-width: 8px;
  border-color: #c8dae0;
  border-radius:10px;
}

.front-cover-right > .cover-panel  {
  margin: auto;
  width:80%;
}

.back-cover-right {
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  height:150px;
  width:450px;
  position: relative;
  background-color: ghostwhite;
  border:solid;
  border-width: 8px;
  border-color: #c9dbe1;
  border-radius:10px;
}
.input-height {
  height: 10px;
}

.back-cover-up {
  text-align: center;
  font-size: larger;
  height: 60px;
  line-height: 60px;
  background-color: transparent;
}

.active {
  border-color: #F5B025;
}

.page-canvas {
  border-color: transparent;
  /*width: 550px;*/
  /*height: 400px;*/
}

.left_panel {
  height: 100%;
  width:190px;
  overflow-y:auto;
  background-color: #ffffff;
}
.carton_image {
  float:left;
  width: 68px;
  height: 51px;
  margin:8px;
}
.carton_image:hover{
  background-color: #ff6619;
  border-color: #ff9710;
}
.page-nav-panel {
  position:relative;
  top:50px;
  height: 100px;
  background-color: #ff0430;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#bigPagePanel{
  background: transparent;
  margin:5px;
}

.dedicateDiv{
  width: 95%;
  margin:auto;
}
textarea
{
  width: 100%;
  height: 200px;
  margin: auto;
  padding: 5px;
  vertical-align: middle;
  resize: none;
}
