<SCRIPT src="/js/turn/js/jquery-1.7.1.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="/js/turn/js/jquery-ui-1.8.20.custom.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="/js/turn/js/modernizr.2.5.3.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="/js/turn/js/hash.js" type="text/javascript"></SCRIPT>

<DIV id="canvas">
  <DIV  style="top: -70px; margin-left: 80px; position: absolute; z-index: -1;">
    <br/>
  </DIV>
  <DIV style="margin-top: 347px; position: absolute; z-index: -1;">
  </DIV>

  <br/>
  <br/>

  <DIV id="book-zoom">
    <DIV class="sj-book">
      <DIV class="hard " depth="5">
        <DIV class="side"> </DIV>
      </DIV>
      <DIV class="hard front-side" style="position: relative;" depth="5">
        <DIV class="fname" style="margin: 0px auto; top: 420px; width: 100%; text-align: center; position: relative;">Harrison  Ford
        </DIV>
        <DIV class="depth"></DIV>
      </DIV>
      <DIV class="own-size" style="width: 460px; height: 600px;">this is ownsize page</DIV>
      <DIV class="own-size even" id="p4" style="width: 460px; height: 600px; color: transparent;">
        this is 怕 平
      </DIV>

      <DIV class="own-size" id="p5" style="width: 460px; height: 600px; color: transparent;">
        this is p5
      </DIV>
      <!-- <div class="own-size even" style="background-color:#F00;"></div>  -->
      <DIV class="own-size even even p6" style="width: 460px; height: 600px;">
        dddd
      </DIV>
      <DIV class="hard fixed back-side p7" depth="5">  back cover inside
        <DIV class="depth"></DIV>
      </DIV>
      <DIV class="hard p8" depth="5">  (back cover)
        <DIV class="side">  </DIV>
      </DIV>
    </DIV>
  </DIV>

  <STYLE>
    .sj-book .p7 {
      background-image:url("/js/turn/img/book-covers.jpg") !important;
      background-position:-960px 0 !important;
    }
    .sj-book .p8{
      background-image:url("/js/turn/img/book-covers.jpg") !important;
      background-position:-1440px 0 !important;
    }

  </STYLE>
  <SCRIPT type="text/javascript">
    function loadApp() {

      var flipbook = $('.sj-book');
      var flag = 0;
      // Check if the CSS was already loaded

      if (flipbook.width()==0 || flipbook.height()==0) {
        setTimeout(loadApp, 10);
        return;
      }

      // Arrows
      $(document).keydown(function(e){

        var previous = 37, next = 39;

        switch (e.keyCode) {
          case previous:

            $('.sj-book').turn('previous');

            break;
          case next:

            $('.sj-book').turn('next');

            break;
        }

      });

      // Flipbook

      flipbook.bind(($.isTouch) ? 'touchend' : 'click', zoomHandle);

      flipbook.turn({
        elevation: 50,
        width:952,
        height:630,
        acceleration: !isChrome(),
        autoCenter: true,
        gradients: true,
        duration: 500,
        pages: 8,
        when: {
          turning: function(e, page, view) {

            var data = new String(view);
            var pgs = data.split(",");
            var da = $('#p'+pgs[0]).html();

            var book = $(this),
              currentPage = book.turn('page'),
              pages = book.turn('pages');


            if (currentPage>3 && currentPage<=pages-3) {

              if (page==1) {
                book.turn('page', 1).turn('stop').turn('page', page);
                e.preventDefault();
                return;
              } else if (page==pages) {
                book.turn('page', pages-1).turn('stop').turn('page', page);
                e.preventDefault();
                return;
              }
            } else if (page>3 && page<pages-3) {
              if (currentPage==1) {
                book.turn('page', 2).turn('stop').turn('page', page);
                e.preventDefault();
                return;
              } else if (currentPage==pages) {
                book.turn('page', pages-1).turn('stop').turn('page', page);
                e.preventDefault();
                return;
              }
            }

            updateDepth(book, page);

            if (page>=2)
              $('.sj-book .p2').addClass('fixed');
            else
              $('.sj-book .p2').removeClass('fixed');

            if (page<book.turn('pages'))
              $('.sj-book .p7').addClass('fixed');
            else
              $('.sj-book .p7').removeClass('fixed');

          },

          turned: function(e, page, view) {

            var book = $(this);

            updateDepth(book);

            $('#slider').slider('value', getViewNumber(book, page));

            book.turn('center');

          },

          end: function(e, pageObj) {

            var book = $(this);

            updateDepth(book);

            setTimeout(function() {

              $('#slider').slider('value', getViewNumber(book));

            }, 1);
          }
        }
      });

      flipbook.addClass('animated');
      $('.sj-book').turn('page',1);
      // $('.sj-book').turn('next');

      // Show canvas
      $('#canvas').css({visibility: ''});
    }

    // Hide canvas

    $('#canvas').css({visibility: 'hidden'});

    // Load turn.js

    yepnope({
      test : Modernizr.csstransforms,
      yep: ['/js/turn/js/turn.min.js'],
      nope: ['/js/turn/js/turn.html4.min.js', '/js/turn/css/jquery.ui.html4.css', '/js/turn/css/steve-jobs-html4.css'],
      both: ['/js/turn/js/steve-jobs.js', '/js/turn/css/jquery.ui.css', '/js/turn/css/steve-jobs.css'],
      complete: loadApp
    });

  </SCRIPT>
</DIV>
