<!--<script type="text/javascript" src="/js/steve-jobs/extras/jquery.min.1.7.js"></script>-->
<!--<script type="text/javascript" src="/js/steve-jobs/extras/jquery-ui-1.8.20.custom.min.js"></script>-->
<!--<script type="text/javascript" src="/js/steve-jobs/extras/jquery.mousewheel.min.js"></script>-->
<!--<script type="text/javascript" src="/js/steve-jobs/extras/modernizr.2.5.3.min.js"></script>-->
<!--<script type="text/javascript" src="/js/steve-jobs/lib/hash.js"></script>-->
<!--<script type="text/javascript" src="/js/steve-jobs/lib/turn.js"></script>-->


<link rel="stylesheet" href="/js/test/style.css">
<script src="/js/test/jquery.min.js"></script>
<script src="/js/test/angular.min.js"></script>
<script src="/js/test/turn.min.js"></script>

<div id="flipbook">
  <div class="hard">
    <page data = "bookvm.book.frontCover" id= 100 />
  </div>
  <div class="hard" >
    <page  id= 200  />
  </div>

  <div>
    <page data="bookvm.book.dedicatedPage"  id= 300  />
  </div>

  <div  ng-repeat="page in bookvm.book.pages"  >
    <page   data="page" id= page.index />
  </div>


  <!--<div>-->
    <!--<div  page  data="bookvm.book.pages[0]" id= 1 />-->
  <!--</div>-->


  <!--<div>-->
    <!--<div  page  data="bookvm.book.pages[1]" id= 2 />-->
  <!--</div>-->

  <!--<div>-->
    <!--<div  page  data="bookvm.book.pages[2]" id= 3 />-->
  <!--</div>-->

  <div >
    <page ng-if="bookvm.book.pages.length % 2 == 1" class='responsive feature pagefx hard'  id= 300  />
  </div>

  <div class="hard">PAGE8</div>
</div>

