<script type="text/javascript" src="/js/steve-jobs/extras/jquery.min.1.7.js"></script>
<script type="text/javascript" src="/js/steve-jobs/extras/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="/js/steve-jobs/extras/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/js/steve-jobs/extras/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="/js/steve-jobs/lib/hash.js"></script>

<link href='/js/steve-jobs/css/showpage.css' rel="stylesheet" type="text/css">
<audio id="coverturn-audio" preload="">
  <source src="/audio/turncover.mp3" type="audio/mpeg">
  <source src="/audio/turncover.ogg" type="audio/ogg">
  <source src="/audio/turncover.wav" type="audio/wav">
</audio>

<audio id="pageturn-audio" preload="">
  <source src="/audio/turn3.mp3" type="audio/mpeg">
  <source src="/audio/turn3.ogg" type="audio/ogg">
  <source src="/audio/turn3.wav" type="audio/wav">
</audio>

<br/><br/><br/>

<div id="book-wrapper" class="animated" style="margin-left: 0px;">
  <div id="book-obj">
    <div id="bkPicFront" style="display: none;"></div>
    <div id="bkPicBack" style="display: none;"></div>
    <div class="sj-book animated"
         style="position: relative; width: 1030px; height: 387px; margin-left: 0px; background-position: 482px 0px;">


      <div class="page-wrapper" page="2"
           style="position: absolute; width: 515px; height: 387px; top: 0px; left: 0px; right: auto; overflow: visible; perspective-origin: 100% 50%; z-index: -1;">
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; transform-style: preserve-3d; backface-visibility: hidden; width: 515px; height: 387px; transform-origin: 100% 50% 0px; z-index: 17;">
          <div depth="5" class="hard front-side page p2 even fixed" style="float: left; width: 515px; height: 387px;">
            <img itemprop="image" class="coverimg"
                 src="https://images2.storyjumper.com/transcoder.jpg?v=3&amp;coverid=498c37f0806cf889a43eff3af36ba9a9&amp;coverpage=front&amp;width=510">

            <div class="cover-spine-top"></div>
            <div class="cover-spine-bottom"></div>
            <div class="cover-white page-image-left"></div>
            <div class="depth" style="left: 4px; width: 0px;"></div>
          </div>
        </div>
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; transform-style: preserve-3d; backface-visibility: hidden; width: 515px; height: 387px; display: none; transform-origin: 0% 50% 0px; transform: translateX(515px) rotateY(180deg); z-index: 16;">
          <div depth="5" class="hard cover page p1 odd"
               style="float: left; width: 515px; height: 387px; background-image: none; background-color: rgb(255, 255, 255);">
            <img itemprop="image" class="coverimg"
                 src="https://images2.storyjumper.com/transcoder.jpg?v=3&amp;coverid=498c37f0806cf889a43eff3af36ba9a9&amp;coverpage=front&amp;width=510">

            <div class="coverplay"></div>
            <div class="side"></div>
            <div class="spine"></div>
          </div>
        </div>
        <div
          style="position: absolute; top: 0px; overflow: hidden; z-index: auto; width: 515px; height: 387px; left: 100%; transform: rotateY(0deg); display: none; background-color: rgba(0, 0, 0, 0.498039);"></div>
      </div>

        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 1; transform-style: preserve-3d; backface-visibility: hidden; width: 515px; height: 387px;"></div>
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: auto; display: none; width: 515px; height: 387px;"></div>
      </div> 
        <div
          style="top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px; display: block; background-image: -webkit-gradient(linear, 100% 100%, 93.9394% 91.8699%, color-stop(0.6, rgba(0, 0, 0, 0)), color-stop(0.8, rgba(0, 0, 0, 0.298039)), to(rgba(0, 0, 0, 0)));"></div>
      </div>
      <div
        style="pointer-events: none; position: absolute; overflow: visible; z-index: auto; display: block; top: -170px; left: -298px;">
        <div
          style="position: absolute; overflow: hidden; width: 617px; height: 617px; display: block; transform-origin: 0% 100% 0px; transform: translate(222px, -25px) rotate(-45deg); top: 179px; left: 813px; z-index: 16;">
          <div
            style="position: absolute; overflow: visible; z-index: auto; cursor: default; width: 495px; height: 369px; left: 0px; top: auto; right: auto; bottom: 0px; transform-origin: 0% 100% 0px; transform: rotate(45deg) translate(223px, -273px) rotate(90deg);">
            <div
              style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px; background-image: -webkit-gradient(linear, 0% 100%, 5.05051% 93.2249%, from(rgba(0, 0, 0, 0)), color-stop(0.8, rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2)));"></div>
            <div class="own-size page p4 even"
                 style="float: left; width: 495px; height: 369px; position: absolute; transform-origin: 100% 100% 0px; left: 0px; top: 0px; right: auto; bottom: auto; box-shadow: rgba(0, 0, 0, 0.0745098) 0px 0px 20px;">
              <div class="book-content">
                <div class="page-image-holder page-image-left"
                     style="background-image: none; background-color: transparent;">
                  <div class="pagehtml"
                       style="position: relative; width: 495px; height: 369px; overflow: hidden; background-color: white;">
                    <img style="position: absolute; top: -5px; left: -14px; width: 523px; height: 380px;"
                         src="https://images2.storyjumper.com/transcoder.png?id=2294be971&amp;width=523&amp;height=380"><img
                    style="position: absolute; top: 123px; left: 236px; width: 46px; height: 56px;"
                    src="https://images2.storyjumper.com/transcoder.png?id=e6fb633712&amp;width=46&amp;height=56"><img
                    style="position: absolute; top: 203px; left: 469px; width: 25px; height: 56px;"
                    src="https://images2.storyjumper.com/transcoder.png?id=1fcb12436&amp;width=25&amp;height=56">

                    <div class="pagenumber"
                         style="font-family:Arial,Helvetica,Sans-Serif; font-size: 8px; position: absolute; top: 355px; left:246px;">
                      2
                    </div>
                    <div class="page-shadow-left"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          style="position: absolute; overflow: hidden; width: 617px; height: 617px; transform-origin: 100% 100% 0px; transform: translate(-122px, -248px) rotate(90deg); display: none; top: 179px; left: 318px; z-index: 0;">
          <div
            style="position: absolute; overflow: visible; z-index: auto; cursor: default; width: 495px; height: 369px; left: auto; top: auto; right: 0px; bottom: 0px; transform-origin: 100% 100% 0px; transform: rotate(-90deg) translate(495px, 0px) rotate(360deg);">
            <div
              style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px; background-image: -webkit-gradient(linear, 100% 100%, 0% 100%, color-stop(0.79798, rgba(0, 0, 0, 0)), color-stop(0.959596, rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0)));"></div>
          </div>
        </div>
        <div
          style="position: absolute; overflow: hidden; display: none; width: 617px; height: 617px; top: 179px; left: 813px; z-index: 0;">
          <div
            style="position: absolute; top: 0px; left: 0px; overflow: visible; z-index: auto; cursor: default; width: 495px; height: 369px;">
            <div
              style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px;"></div>
          </div>
        </div>
        <div
          style="position: absolute; overflow: hidden; display: none; width: 617px; height: 617px; top: 179px; left: 60px; z-index: 0;">
          <div
            style="position: absolute; top: 0px; left: 0px; overflow: visible; z-index: auto; cursor: default; width: 495px; height: 369px;">
            <div
              style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px;"></div>
          </div>
        </div>
      </div>
      <div class="page-wrapper" page="4"
           style="position: absolute; overflow: hidden; width: 495px; height: 369px; top: 9px; left: 20px; right: auto; z-index: 0;">
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: auto; width: 617px; height: 617px; transform-origin: 100% 100% 0px;"></div>
        <div
          style="top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px; display: none; background-image: -webkit-gradient(linear, 0% 100%, 120% 100%, color-stop(0.6, rgba(0, 0, 0, 0)), color-stop(0.8, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));"></div>
      </div>
      <div class="page-wrapper" page="5"
           style="position: absolute; overflow: hidden; width: 495px; height: 369px; top: 9px; right: 20px; left: auto; z-index: 0;">
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: auto; width: 617px; height: 617px;">
          <div class="own-size page p5 odd"
               style="float: left; width: 495px; height: 369px; position: absolute; top: 0px; left: 0px; bottom: auto; right: auto;">
            <div class="book-content">
              <div class="page-image-holder page-image-right"
                   style="background-image: none; background-color: transparent;">
                <div class="pagehtml"
                     style="position: relative; width: 495px; height: 369px; overflow: hidden; background-color: white;">
                  <img style="position: absolute; top: -5px; left: -14px; width: 523px; height: 380px;"
                       src="https://images2.storyjumper.com/transcoder.png?id=2294be971&amp;width=523&amp;height=380"><img
                  style="position: absolute; top: 174px; left: 225px; width: 56px; height: 34px;"
                  src="https://images2.storyjumper.com/transcoder.png?id=51f22c7772&amp;width=56&amp;height=34">

                  <div class="pagenumber"
                       style="font-family:Arial,Helvetica,Sans-Serif; font-size: 8px; position: absolute; top: 355px; left:246px;">
                    3
                  </div>
                  <div class="page-shadow-right"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px;"></div>
      </div>
      <div class="page-wrapper" page="6"
           style="position: absolute; overflow: hidden; width: 495px; height: 369px; top: 9px; left: 20px; right: auto; display: none; z-index: 0;">
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: auto; width: 617px; height: 617px;">
          <div class="own-size page p6 even"
               style="float: left; width: 495px; height: 369px; position: absolute; top: 0px; left: 0px; bottom: auto; right: auto;">
            <div class="book-content">
              <div class="page-image-holder page-image-left">
                <div class="pagehtml"
                     style="position: relative; width: 495px; height: 369px; overflow: hidden; background-color: white;">
                  <div class="pagenumber"
                       style="font-family:Arial,Helvetica,Sans-Serif; font-size: 8px; position: absolute; top: 355px; left:246px;">
                    4
                  </div>
                  <div class="page-shadow-left"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 495px; height: 369px;"></div>
      </div>
      <div class="shadow"
           style="position: absolute; overflow: hidden; z-index: auto; width: 1030px; height: 387px; top: 0px; left: 0px;"></div>
      <div class="page-wrapper" page="1"
           style="position: absolute; overflow: hidden; width: 515px; height: 387px; top: 0px; right: 0px; left: auto; display: none; z-index: 0;">
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 2; transform-style: preserve-3d; backface-visibility: hidden; width: 515px; height: 387px;"></div>
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 1; transform-style: preserve-3d; backface-visibility: hidden; width: 515px; height: 387px;"></div>
        <div
          style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: auto; display: none; width: 515px; height: 387px;"></div>
      </div>
    </div>
  </div>
  <div id="navigation" style="display: block;">
    <ul>
      <li><img id="nav-start" src="/images/icon-start.png"></li>
      <li><img id="nav-end" src="/images/icon-end.png"></li>
    </ul>
  </div>
</div>


<div id="navigation" style="display: block;">
  <ul>
    <li><img id="nav-start" src="/images/icon-start.png"></li>
    <li><img id="nav-end" src="/images/icon-end.png"></li>
  </ul>
</div>
</div>

<script type="text/javascript">

  $(function () {
    var pgimg = $('.sj-book .coverimg');
    pgimg.load(function () {
      var pgdiv = pgimg.closest('.cover');
      pgdiv.css({
        "background-image": "none",
        "background-color": "white"
      });
    }).each(function () {
      if (this.complete) {
        $(this).trigger('load');
      }
    });
  });

  function loadApp() {
    var flipbook = $('.sj-book');
    var turnstarttime = 0;
    var opencount = 0;
    if (flipbook.width() == 0 || flipbook.height() == 0) {
      setTimeout(loadApp, 10);
      return;
    }
    Hash.on('^page\/([0-9]*)$', {
      yep: function (path, parts) {
        var page = parts[1];
        if (page !== undefined) {
          page = parseInt(page, 10) + 2;
          if ($('.sj-book').turn('is')) $('.sj-book').turn('page', page);
        }
      },
      nop: function (path) {
        if ($('.sj-book').turn('is')) $('.sj-book').turn('page', 1);
      }
    });
    $(document).keydown(function (e) {
      var previous = 37,
        next = 39;
      if ($(e.target).is("textarea")) return;
      switch (e.keyCode) {
        case previous:
          $('.sj-book').turn('previous');
          break;
        case next:
          $('.sj-book').turn('next');
          break;
      }
    });
    flipbook.turn({
      elevation: 50,
      acceleration: !isChrome(),
      autoCenter: true,
      duration: 1500,
      pages: 8,
      width: 1030,
      height: 387,
      when: {
        turning: function (e, page, view) {
          var book = $(this),
            currentPage = book.turn('page'),
            pages = book.turn('pages');
          turnstarttime = new Date().getTime();
          var pageturnSound = document.getElementById("pageturn-audio"),
            coverturnSound = document.getElementById("coverturn-audio");
          if (typeof(pageturnSound.load) === 'undefined') {
            pageturnSound.load = pageturnSound.pause = pageturnSound.play = function () {
            };
            coverturnSound.load = coverturnSound.pause = coverturnSound.play = function () {
            };
          }
          if (pageturnSound.readyState !== 4) pageturnSound.load();
          if (coverturnSound.readyState !== 4) coverturnSound.load();
          if (currentPage === 1 || currentPage === pages || page === 1 || page === pages) {
            coverturnSound.pause();
            pageturnSound.pause();
            if (coverturnSound.readyState === 4) {
              coverturnSound.currentTime = 0;
              coverturnSound.play();
            }
          } else {
            coverturnSound.pause();
            pageturnSound.pause();
            if (pageturnSound.readyState === 4) {
              pageturnSound.currentTime = 0;
              pageturnSound.play();
            }
          }
          if (page == 2 && currentPage == 1) {
          }
          if (page === 1) {
            $('#book-wrapper').css('margin-left', '-258px').css('clip', '');
            $('#bkPicFront').show();
            $('#bkPicBack, #navigation').hide();
            if (typeof pageOneTurn == 'function') pageOneTurn(book, page, pages);
          } else if (page === pages) {
            $('#book-wrapper').css('margin-left', '-234px');
            setTimeout(function () {
              var pg = book.turn('page');
              if (pg === pages) {
                $('#book-wrapper').css('clip', 'rect(-20px,773px,417px,0)');
              }
            }, 400);
            $('#bkPicBack').show();
            $('#bkPicFront, #navigation').hide();
            if (typeof pageLastTurn == 'function') pageLastTurn(book, page, pages);
          } else {
            $('#book-wrapper').css('margin-left', '0').css('clip', '');
            setTimeout(function () {
              var pg = book.turn('page');
              if (pg !== 1 && pg !== pages) {
                $('#navigation').show();
              }
            }, 400);
            $('#bkPicBack, #bkPicFront').hide();
            if (typeof pageOtherTurn == 'function') pageOtherTurn(book, page, pages);
          }
          if (currentPage > 3 && currentPage < pages - 3) {
            if (page == 1) {
              book.turn('page', 2).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            } else if (page == pages) {
              book.turn('page', pages - 1).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            }
          } else if (page > 3 && page < pages - 3) {
            if (currentPage == 1) {
              book.turn('page', 2).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            } else if (currentPage == pages) {
              book.turn('page', pages - 1).turn('stop').turn('page', page);
              e.preventDefault();
              return;
            }
          }
          updateDepth(book, page);
          if (page >= 2) $('.sj-book .p2').addClass('fixed');
          else
            $('.sj-book .p2').removeClass('fixed');
          if (page < pages) $('.sj-book .p7').addClass('fixed');
          else
            $('.sj-book .p7').removeClass('fixed');
          if (page < 2) Hash.go('').update();
          else if (page == 2) Hash.go('page/1').update();
          else
            Hash.go('page/'.concat(page - 2)).update();
          if (page == 1) book.css({
            backgroundPosition: '525px 0'
          });
          else if (page == pages) book.css({
            backgroundPosition: '510px 0'
          });
          else
            book.css({
              backgroundPosition: '505px 0'
            });
        },
        turned: function (e, page, view) {
          var book = $(this),
            pages = book.turn('pages');
          updateDepth(book);
          if (page == 2 || page == 3) {
            book.turn('peel', 'br');
          }
          book.turn('center');
        },
        start: function (e, pageObj, corner) {
          var book = $(this);
          if (pageObj.page == 2) book.css({
            backgroundPosition: '482px 0'
          });
          else if (pageObj.page == book.turn('pages') - 1) book.css({
            backgroundPosition: '472px 0'
          });
        },
        end: function (e, pageObj) {
          var book = $(this);
          updateDepth(book);
        },
        missing: function (e, pages) {
          for (var i = 0; i < pages.length; i++) addPage(pages[i], $(this));
        }
      }
    });
    flipbook.addClass('animated');
    $('#book-obj').click(function (event) {
      var $clickedElement = $(event.target);
      var $page = $clickedElement.closest('.page-wrapper');
      var deltatime = new Date().getTime() - turnstarttime;
      if ($page && deltatime > 100) {
        var pg = parseInt($page.attr("page"), 10),
          currentPage = flipbook.turn("page"),
          pages = flipbook.turn("pages");
        var pWidth = flipbook.innerWidth();
        var pOffset = flipbook.offset();
        var x = event.pageX - pOffset.left;
        var reverse = ($('#book-obj').css('direction') === 'rtl');
        if (currentPage == 1) {
          if (x > pWidth / 2) flipbook.turn(reverse ? "previous" : "next");
        } else if (currentPage == pages) {
          if (x < pWidth / 2) flipbook.turn(reverse ? "next" : "previous");
        } else if (x > pWidth / 2) {
          flipbook.turn(reverse ? "previous" : "next");
        } else {
          flipbook.turn(reverse ? "next" : "previous");
        }
      }
    });
  }
  $(function () {
    $('#nav-start').click(function (obj) {
      var reverse = ($('#book-obj').css('direction') === 'rtl');
      _gaq.push(['_trackEvent', 'page', 'jump', 'beginning']);
      if (reverse) {
        var pg = $('.sj-book').turn("pages");
        $('.sj-book').turn("page", pg - 1).turn('stop').turn("page", pg);
      } else {
        $('.sj-book').turn("page", 2).turn('stop').turn("page", 1);
      }
    });
    $('#nav-end').click(function (obj) {
      var reverse = ($('#book-obj').css('direction') === 'rtl');
      _gaq.push(['_trackEvent', 'page', 'jump', 'end']);
      if (reverse) {
        $('.sj-book').turn("page", 2).turn('stop').turn("page", 1);
      } else {
        var pg = $('.sj-book').turn("pages");
        $('.sj-book').turn("page", pg - 1).turn('stop').turn("page", pg);
      }
    });
  });

  function loadPage(page, element) {
    var flipbook = $('.sj-book');
    var pages = flipbook.turn('pages');
    var image = '';
    var lr = "left";
    if (page % 2 == 1) {
      lr = "right";
    }
    var offset = 3;
    if (page == 1) {
      image = $('<img src="https://images2.storyjumper.com/transcoder.jpg?v=3&coverid=498c37f0806cf889a43eff3af36ba9a9&coverpage=front&width=510" style="width:495px; height:369px;"/>');
    } else if (page == 2) {
      image = $('<img src="/images/whiteBG.gif" style="width:495px; height:369px;"/>');
    } else if (page == 3) {
      image = $('#pagearraydiv').children().eq(0);
      image.replaceWith(image.clone());
    } else if (page >= pages) {
      image = $('<img src="https://images2.storyjumper.com/transcoder.jpg?v=3&coverid=498c37f0806cf889a43eff3af36ba9a9&coverpage=back&width=510" style="width:495px; height:369px;"/>');
    } else {
      image = $('#pagearraydiv').children().eq(page - offset);
      image.replaceWith(image.clone());
    }
    element.empty();
    var bookcontents = $('<div class="book-content"/>');
    var pageimageholder = $('<div class="page-image-holder page-image-' + lr + '"/>');
    image.append($('<div class="page-shadow-' + lr + '"/>'));
    pageimageholder.append(image);
    bookcontents.append(pageimageholder);
    element.append(bookcontents);
    var pgimg = element.find('img');
    pgimg.load(function () {
      var pgdiv = element.find('.page-image-holder');
      pgdiv.css({
        "background-image": "none",
        "background-color": "transparent"
      });
    }).each(function () {
      if (this.complete) {
        $(this).trigger('load');
      }
    });
  }

  yepnope({
    test: Modernizr.csstransforms,
    yep: ['/js/steve-jobs/lib/turn.min.js'],
    nope: ['/js/steve-jobs/lib/turn.html4.min.js', '/js/steve-jobs/css/jquery.ui.html4.css', '/js/steve-jobs/css/steve-jobs-html4.css'],
    both: ['js/steve-jobs/js/steve-jobs.js', '/js/steve-jobs/css/jquery.ui.css', '/js/steve-jobs/css/steve-jobs.css'],
    complete: loadApp
  });


</script>
