.book-panel-small {
  float: left;
  margin: 5px;
  width: 280px;
  height: 220px;
  background-color: transparent;
}

.book-body-small {
  width: 220px;
  height: 160px;
  margin:auto;
  margin-top: 10px;
  background-color:ghostwhite;
  border: 2px solid dimgrey;
}

.book-footer-small{
  left: 10px;
  height: 30px;
  margin-left:5px;
  margin-right:5px;
}

.book-panel-small:hover {
  border: 2px solid #ff9710;
  background-color: #ff9710;
  /*box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);*/
  cursor: pointer; cursor:hand;
}

.book-preview-panel {
  position: relative;
  z-index: 99999;
  background-color: #ff6631;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
  height : 500px;
  width  : 800px;
}
