<link rel="stylesheet" type="text/css" href="/assets/skin/default_skin/css/theme.css">
<header nav-bar2 class="navbar navbar-fixed-top navbar-shadow"> </header>


<div class="well well-lg">

<div id="main">
  <!-- Start: Content-Wrapper -->
  <!--<section id="content_wrapper">-->
    <!-- Begin: Content -->
    <section id="content" class="alt top-menu-open">
      <!-- begin: .tray-center -->
      <div class="tray tray-center">

        <div class="panel panel-info">
          <div class="panel-heading">
            <span class="panel-title fa fa-book"> 我的书</span>
          </div>
          <div class="panel-menu">
             <button type="button" ng-click="bookCtrl.createBook()" class="btn btn-rounded btn-warning light mr10">
              <span class="fa fa-edit pr5"></span>做本新书
            </button>
          </div>
          <div class="panel-body">

            <div ng-repeat="b in bookCtrl.mybooks">
              <book-tile book=b index=$index />
            </div>

          </div>
        </div>

        <!-- dashboard tiles -->
        <!--<div class="row">-->

        <!--</div>-->
      </div>
      <!-- end: .tray-center -->
    </section>
    </div>
  <!--</section>-->
  <!-- End: Content-Wrapper -->
</div>
