
<!-- Start: Sidebar -->
  <!-- Start: Sidebar Left Content -->
  <div class="sidebar-left-content nano-content">


    <!--<ul class="nav sidebar-menu">-->
    <li class="sidebar-label pt10">新书素材</li>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Collapsible panel - 1</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <div  material-section sgroup = "backgroundGroup" />
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">Collapsible panel</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div  material-section sgroup = "backgroundGroup" />
        </div>
      </div>
    </div>
    <!-- End: Sidebar Menu -->
  </div>
  <!-- End: Sidebar Left Content -->
