{{material.titleText}}
<a class="accordion-toggle" href="#">
  <div class="accordion-heading">
    <!--<image src="{{material.sgroup.titleImage}}" class="sidebar-menu-images" />-->
    <span class="sidebar-title">{{material.sgroup.title}}</span>
    <span class="caret"></span>
  </div>
</a>
<ul class="nav sub-nav" >
  <li>
    <ng-transclude></ng-transclude>
    <div class="left_panel">
      <image class="carton_image"
             ng-repeat="img in material.sgroup.images"
             src="{{img}}"
             ng-click="material.addImage(img, material.sgroup.imageType)"
        />
    </div>
  </li>
</ul>
