<div class="book-panel-small hvr-border-fade" >
    <div class="book-body-small text-center br-a br-grey">
      <br/>
      <h4 class="fs20 mt6 mbn">{{book.title}}</h4>
      <h6 class="text-system">{{book.desc}}</h6>
    </div>
    <div class="book-footer-small text-center p10">
                  <span class="fs11">
                    <i class="fa pr5"></i>{{book.pages}} pages
                    <b>/{{book.comments ? book.comments.length : 0}} comments</b>
                  </span>
    </div>
</div>

<!--<div class="col-sm-3 col-xl-3" >-->
  <!--<div class="panel panel-tile text-center br-a br-grey">-->
    <!--<div class="panel-body">-->
      <!--<h4 class="fs15 mt6 mbn">{{book.title}}</h4>-->
      <!--<h6 class="text-system">{{book.desc}}</h6>-->
    <!--</div>-->
    <!--<div class="panel-footer br-t p12">-->
                  <!--<span class="fs11">-->
                    <!--<i class="fa pr5"></i>{{book.pages}} pages-->
                    <!--<b>/{{book.comments ? book.comments.length : 0}} comments</b>-->
                  <!--</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
