<br/>
<b>书标题</b>
<input ng-model="main.PhotoBook.title" type="text" id="title" class="form-control" placeholder="输入书标题">
<br/>
<b>下标题</b>
<input ng-model="main.PhotoBook.attribute" type="text" id="attribute" class="form-control" placeholder="输入书下标题">
<br/> 封面图片选自：
<!--<select class="form-control">-->
  <!--<option ng-repeat="page in main.PhotoBook.pages" style="background-image:{{page.previewImage}};"> {{$index}}</option>-->
</select>

<ui-select ng-model="main.page.selected"
           on-select="main.coverImageSelected($item, $model)"
           theme="select2"
           class="form-control"
           ng-disabled="disabled"
           style="min-width: 300px;">
       <ui-select-match placeholder="选择一个封面图片">第 {{$select.selected.index  + 1}} 页 </ui-select-match>
       <ui-select-choices repeat="page in main.PhotoBook.pages">
         <img ng-src="{{page.previewImage}}" width='40' height="40" border="1"/>
         <span style="color:blue"> 第 {{$index + 1}} 页 </span>
       </ui-select-choices>
</ui-select>


<br/>
<br/>
<br/>
