<div class="page-design-panel">
  <div class="front-cover-left" >
    <canvas id="dedicatePageCanvas" class="page-canvas" crossOrigin="Anonymous"
            ng-style= " {'background-color' : '#ffffff', selected:false}"  />
  </div>
  <div class="front-cover-right">
    <div class="dedicateDiv">
    <br/>
    <!--this is the dedeicate design page-->
    <label for="dedication"><b>题词</b></label>
    <br/>
    <textarea id="dedication" ng-model="main.PhotoBook.dedication"></textarea>


      <div class="color-picker" minicolors="brightnesssettings"
           colorpicker-position="top"
           ng-model="main.PhotoBook.dedicationColor">
      </div>

    </div>
  </div>

</div>
