<div class="row">
  <div class="col-lg-1">
    <div class="page-control-right">
      <button class="btn-xs" ng-click="main.newPage()"> new page</button>
      <button class="btn-xs" ng-click="main.copyPage()"> copy page</button>
      <button class="btn-xs" ng-click="main.deletePage()">delete page</button>
    </div>
  </div>

  <div class="col-lg-10">
    <div class="DocumentList">
      <ul class="list-inline">
        <li class="DocumentItem" ng-repeat="page in main.pages">
          <page-sheet />
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-1">
    <div class="page-control-right">
      <button class="btn-xs" ng-click="main.newPage()"> new page</button>
      <button class="btn-xs" ng-click="main.copyPage()"> copy page</button>
      <button class="btn-xs" ng-click="main.deletePage()">delete page</button>
    </div>
  </div>
