<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar pull-left">
    <li>
      <button type="button" ng-click="main.newPage()" class="btn btn-rounded btn-warning btn-block">新建</button>
    </li>
    <li class="active">
      <button type="button" ng-click="main.copyPage()"  class="btn btn-rounded btn-warning btn-block">复制</button>
    </li>
    <li>
      <button type="button" class="btn btn-rounded btn-warning btn-block" ng-click="main.deletePage()">删除</button>
    </li>
    <li>
      <button type="button"  class="btn btn-rounded btn-system btn-block">  |  </button>
    </li>

    <li>
      <button type="button" ng-click="main.previousPage()"
              class="btn btn-rounded btn-warning btn-block">前一页
      </button>
    </li>
    <li class="active">
      <button type="button" ng-click="main.nextPage()"
              class="btn btn-rounded btn-warning btn-block" >下一页</button>
    </li>
  </ul>
</div>

<div class="footer-right hidden-xs hidden-sm">
  <button busy type="button" class="btn ladda-button btn-warning" data-style="zoom-in" ng-click="main.saveToServe()">
    <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
    <span class="ladda-label">保 存</span>
    <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
  </button>
  <button type="button" class="btn ladda-button btn-warning" data-style="zoom-in" ng-click="main.finishCreateBook()">
    <span class="ladda-label">完 成</span>
    <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
  </button>
</div>
